@using Website.CategorySupport;
@using Website.RoutingSupport
@using Poetry.UI.AspNet.PageEditingSupport

@model Website.ProductSupport.Product

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name (<a href="/Admin">Edit</a>)</h1>

@{
    var category = CategoryRepository.GetAll().FirstOrDefault(c => c.Id == Model.CategoryId);
}

<table>
    <tr>
        <th>Article No</th>
        <td>@Html.PropertyFor(m => m.ArticleNo)</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Html.PropertyFor(m => m.Name)</td>
    </tr>
    <tr>
        <th>Category</th>
        <td><a href="@UrlProvider.GetUrl(category)">@category.Name</a></td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Html.PropertyFor(m => m.Description)</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>@Html.PropertyFor(m => m.Price)</td>
    </tr>
</table>