@using Poetry.UI.AspNet.PageEditingSupport

@model Website.Apps.KeyFigureSupport.KeyFigure

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Model.Key</title>
</head>
<body>
    <h1>A key-value pair with Id @Model.Id</h1>
    @Html.PropertyFor(m => m.Key): @Html.PropertyFor(m => m.Value)
    @Html.AddPageEditing()
</body>
</html>